<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="PemsConnectionString" connectionString="Data Source=jxnmgvfazx.database.windows.net;Initial Catalog=pems-dct;Integrated Security=False;User ID=FrenchToastMafia;Password=Pe@rs0n!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"  providerName="System.Data.SqlClient" />
  <add name="Log" connectionString="Server=tcp:jxnmgvfazx.database.windows.net,1433;Database=pemslog-dct;User ID=FrenchToastMafia;Password=Pe@rs0n!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>